.button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 2px solid #444444;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: #797979;
  }
}
