.product-card {
  padding: 0 30px;

  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 48px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.product-card__header {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet) {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    margin-left: 172px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}

.product-card__icon {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 70px;
    margin: 0;
    margin-top: 12px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: 90px;

    width: 80px;
    padding-top: 4px;
  }
}

.product-card__descr {
  margin: 0;
  margin-bottom: 24px;

  font-size: 15px;
  color: #444444;

  @media (min-width: $tablet) {
    width: 282px;
    margin-bottom: 43px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 175px;
  }
}

.product-card__params {
  margin-bottom: 18px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet) {
    width: 300px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop) {
    margin-top: 53px;
    margin-bottom: 0;
    margin-left: 173px;
  }
}

.product-card__cell {
  width: 93px;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  text-align: left;

  &--value {
    width: 160px;
  }

  @media (min-width: $tablet) {
    &--name {
      width: 74px;
    }
  }
}

.product-card__image {
  background-color: #f1f1f1;

  @media (min-width: $tablet) {
    position: absolute;
    top: 107px;
    right: 50px;

    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop) {
    top: -52px;
    right: 50px;
    z-index: -1;

    width: 525px;
    height: 636px;
  }
}

.product-card__price {
  height: 30px;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 20px;

  font-weight: 700;
  text-align: center;
  color: #444444;

  @media (min-width: $tablet) {
    width: 300px;
    margin: 0;
    margin-bottom: 28px;
    margin-left: -5px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-top: 102px;
    margin-left: 170px;
  }
}

.product-card__button {
  height: 52px;
  padding-top: 14px;

  @media (min-width: $tablet) {
    width: 290px;
    padding-left: 0;

    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-left: 176px;
  }
}
